<div>

  <section>
    <h1><%= @movie.name %></h1>
    <p>Directed by:<%= @movie.director %></p>
    <p>Votes: <%=@movie.votes %></p>
    <p><%= @movie.description%></p>

    <%= button_to "Edit", {action: "edit", id: @movie[:id] }, method: :get %>

    <%= button_to "Delete", {action: "destroy", id: @movie[:id] }, method: :delete, data: { confirm: "Do you really want to delete this movie?"} %>

    <%= button_to "UpVote", {action: "up_vote", id: @movie[:id] }, method: :post %>

    <%= link_to( "View All Movies", movies_path) %>

    <%= link_to( "View All Media", root_path) %>
  </section>

</div>
