<div>

  <section>
    <h1><%= @album.name %></h1>
    <p>Artist: <%= @album.artist %></p>
    <p>Votes: <%=@album.votes %></p>
    <p><%= @album.description%></p>

    <%= button_to "Edit", {action: "edit", id: @album[:id] }, method: :get %>

    <%= button_to "Delete", {action: "destroy", id: @album[:id] }, method: :delete, data: { confirm: "Do you really want to delete this album?"} %>

    <%= button_to "UpVote", {action: "up_vote", id: @album[:id] }, method: :post %>

    <%= link_to( "View All Albums", albums_path) %>

    <%= link_to( "View All Media", root_path) %>
  </section>

</div>
