<div>

  <section class= "show-one">
    <h1><%= @album.name %></h1>
    <p><b>Artist:</b> <%= @album.artist %></p>

    <div class="voting">
      <h3><b>Votes:</b> <%=@album.votes%></h3>
      <p><%= button_to "ðŸ‘ðŸ¼", {action: "up_vote", id: @album[:id] }, method: :post %></p>
    </div>
    
    <p><%= @album.description%></p>

    <div class = "buttons">
      <%= button_to "Edit", {action: "edit", id: @album[:id] }, method: :get %>
      <%= button_to "Delete", {action: "destroy", id: @album[:id] }, method: :delete, data: { confirm: "Do you really want to delete this album?"} %>
      <%= button_to "UpVote", {action: "up_vote", id: @album[:id] }, method: :post %>
    </div>
    <p></p>
    <p><%= link_to( "View All Albums", albums_path) %></p>
    <p><%= link_to( "View All Media", root_path) %></p>
  </section>

</div>
